@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,400;0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;500&display=swap');
@import 'swiper/css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.playfair{
    font-family: 'Playfair Display';
}
.roboto {
    font-family: 'Roboto Condensed';
}
.taviraj {
    font-family: 'Taviraj';
}
.poppins {
    font-family: 'Poppins';
}
#about p {
    font-family: 'Poppins';
    @apply text-lg leading-normal mb-2;
}
#services p, #team p {
    font-family: 'Poppins';
    @apply text-lg text-white text-center;
}
.service:hover .description {
    opacity: 1 !important;
}

#blog .blog-desc {
    font-family: 'Poppins';
    @apply text-sm ;
}
#blog .modal-desc {
    font-family: 'Poppins';
    @apply text-sm mb-4 ;
}
#announcement p {
    font-family: 'Poppins';
    @apply text-sm text-black;
}
.service:hover {
    background: #02202E !important;
}
#header.active {
   @apply bg-[#02202E];
}
#mobile.active {
    @apply bg-[#02202E];
 }
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #fefefe 0%,
    #172CB8 29%,
    #f608c3 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
body.stop, body.stop2{
    overflow: hidden;
}
[x-cloak]  {
    display: none !important;
}
#works .pro {
    background-size: cover !important;
    background-position: center center !important;
}
#works .pro:hover .description {
    opacity: 1 !important;
}
/* Tablet Modes */
@media (min-width: 300px) and (max-width: 959px) {
    #works .pro {
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
}
